.font {
  font-family: "Work Sans", sans-serif;
}
header {
  background-color: #fff4e6;
}
.navber {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.5rem;
  font-width: 800;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}
nav ul li a:hover {
  color: rgb(173, 173, 173);
  transition-duration: 0.4s;
}

/* Banner */

.banner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0px 45px 0px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
  color: gray;
  text-align: center;
  margin-bottom: 0px;
}
.btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.banner-btn {
  border: none;
  background-color: #ff900e;
  padding: 20px 30px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.banner-btn:hover {
  background-color: #fff4e6;
  border: 2px solid #ff900e;
  color: #ff900e;
  transition-duration: 0.4s;
}
.banner-img {
  width: 100%;
}

/* Main */

.main {
  max-width: 1400px;
  margin: 0 auto;
}

/* Team */

.team {
  margin-top: 85px;
}
.team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-title {
  font-size: 45px;
  font-weight: 700;
  width: 468px;
  margin-bottom: 0px;
}
.title1 {
  font-weight: 400;
  color: gray;
}
.title2 {
  color: #ff900e;
}
.team-description {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 0px;
  width: 537px;
}
.team-btn {
  border: none;
  background-color: #ff900e;
  padding: 20px 30px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 32px;
}
.team-btn:hover {
  background-color: #fff4e6;
  border: 2px solid #ff900e;
  color: #ff900e;
  transition-duration: 0.4s;
}

/* Features */

.features {
  margin-top: 110px;
}
.features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.left-title {
  font-size: 2.8rem;
  font-weight: bold;
  border-left: 6px solid #ff900e;
  padding-left: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 0px;
}
.left-description {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
  line-height: 30px;
  margin-top: 24px;
  width: 586px;
}
.cart {
  box-shadow: 0px 0px 1px black;
  border-radius: 10px;
  padding: 10px 33px;
  margin-top: 20px;
}
.cart-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0px;
}
.cart-description {
  font-size: 1rem;
  font-weight: 400;
  color: gray;
  margin-top: 10px;
  line-height: 30px;
}
.img-container {
  background-color: #ff900e;
  color: white;
  width: 300px;
  padding: 20px 15px;
  border-radius: 15px;
  position: relative;
  bottom: 80px;
  right: 60px;
}
.year {
  font-size: 3rem;
  text-align: center;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
}
.ex {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
}

/* Some */

.some {
  margin-top: 70px;
}
.some-title {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 0px;
}
.some-description {
  margin-top: 24px;
  font-size: 1rem;
  font-weight: 400;
  color: gray;
  line-height: 30px;
}
.box-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.box {
  border: 1px solid #ff900e;
  text-align: center;
  padding: 36px 60px;
  border-radius: 7px;
}
.box-title {
  margin: 10px 0px 0px 0px;
  font-size: 2.8rem;
  font-weight: 600;
}
.box-sub {
  font-size: 1.25rem;
  font-weight: 500;
  color: gray;
  width: 169px;
  margin: 0 auto;
}

/* Responsive media query */

@media screen and (max-width: 576px) {
  .navber,
  nav ul,
  .team-container,
  .features-container,
  .box-container {
    flex-direction: column;
  }
  .team-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-title {
    text-align: center;
  }
  .team-description {
    width: 400px;
    text-align: center;
    margin: 0 auto;
  }
  .team-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Feature */
  .left-description {
    width: 400px;
    margin-left: 30px;
  }
  .img-container {
    display: none;
  }
  .right-img {
    max-width: 100%;
  }

  /* Some */
  .some-title {
    text-align: center;
  }
  .some-description {
    text-align: center;
  }
  .box-container {
    margin-top: 50px;
  }
  .box {
    margin: 5px 20px;
  }
}
